body {
    margin: 0;
  }
  
  .App {
    font-family: sans-serif;
    text-align: center;
  }
  
  /* .flex {
    display: flex;
    align-items: center;
    justify-content: center;
  } */
  
  .header {
    height: 50px;
    background-color: white;
    color: black;
  }
  
  /* .nav {
    height: 150px;
    background-color: transparent;
    width: 100%;
  } */
  
  .sticky {
    position: fixed;
    background-color: "transparent";
    width: 100%;
    /* opacity:1; */
    top: 0;
  }
  
  .content {
    /* background-color: red; */
  }
  